body, ul {
    margin: 0px;
    padding: 0px;
    background: black;
    font-family: 'Audiowide', cursive;
}

/* HEADER E MENU */

a {
    color: rgb(213, 0, 0);
    text-decoration: none;
    font-family: 'Audiowide', cursive;
}

a:hover {
    background: rgba(0, 0, 0, .05)
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Audiowide', cursive;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    border-bottom: 2px solid rgb(213, 0, 0);
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
    font-family: 'Audiowide', cursive;
    transition: transform 450ms;
}

#menu a:hover {
    color: rgb(213 0 0 / 59%);
    transform: scale(0.9);
}

#btn-mobile {
    display: none;
    font-family: 'Audiowide', cursive;
}

/* MAIN */

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    color: rgb(213, 0, 0);
    margin-bottom: 15rem;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: rgb(213, 0, 0);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

#home-btn{
    padding: 15px 45px;
    background: rgb(213, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

#home-btn:hover{
    background: rgba(213, 0, 0, 0.532);
    transform: scale(0.9);
}

.home-img img{
    width: 100%;
}

/* FOOTER */

.copyright {
    text-align: center;
    overflow: hidden;
    margin-bottom: auto;
    color:rgb(213, 0, 0);
}

/* MOBILE */

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgb(0, 0, 0);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        background: rgb(0, 0, 0);
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(213, 0, 0);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        background: transparent;
        color:rgb(213, 0, 0);
    }

    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        background: rgb(213, 0, 0);
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    /* main do mobile */

    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        margin-bottom: 0rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 100%;
    }
}